.link-button {
    background: none;
    color: #ffffff;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    text-decoration: underline;
    outline: none;
}

.link-button:hover {
    color: rgba(255, 255, 255, 0.5);
}