.App {
  background-color: black;
  color: white;
  text-align: center;
}

.app-container {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.App-logo {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.App-header {
  background-color: #5E2750;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  color: white;
  margin: 16px;
}

.App-footer {
  background-color: #535C3C;
  font-size: 16px;
  color: white;
  padding: 16px;
  margin: 16px;
}

.App-main {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.canals {
  background-color: #333333;
  min-width: 15vh;
  margin-left: 16px;
  margin-right: 16px;
  padding: 16px;
}

.chat {
  background-color: #1E3C4E;
  flex: 1;
  padding: 16px;
}

.users {
  background-color: #333333;
  min-width: 15vh;
  margin-left: 16px;
  margin-right: 16px;
  padding: 16px;
}

.App-link {
  color: #61dafb;
}